model:
  module: models.teeth_arrangement.aligner.Aligner
  params:
    aligner_config:
      module: models.teeth_arrangement.tanet.TANet
      params:
        dim: 1024
        

    
    optimizer_config:
      module: torch.optim.AdamW
      weight_decay: 0.05
      betas: (0.9, 0.95)
      eps: 1e-8
      grad_clip: 1.0

    scheduler_config:
      module: pl_bolts.optimizers.lr_scheduler.LinearWarmupCosineAnnealingLR
      params:
        warmup_epochs: 5
        warmup_start_lr: 0.0
        eta_min: 1e-7
    
    
  
dataset:
  module: dataset.teeth_dataset.TeethDataManager
  params:
    with_normals: False
    data_path: /data3/leics/dataset/teeth/merged_alignment_5x
    index_path: "files/alignment_zj"
    batch_size: 16




